.root {
    -fx-background-color: #000000;
}

/* Fundo */
.deposit-page {
    -fx-background-color: #000000;
}

/* Titulos */
.deposit-title {
    -fx-text-fill: white;
    -fx-font-size: 34px;
    -fx-font-weight: bold;
}

.deposit-subtitle {
    -fx-text-fill: #39ff9f;
    -fx-font-size: 16px;
}

/* Card Saldo */
.balance-card {
    -fx-background-color: #4a0711;
    -fx-background-radius: 12;
}

.balance-label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.balance-value {
    -fx-text-fill: white;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

.account-box {
    -fx-background-color: rgba(0,0,0,0.35);
    -fx-background-radius: 8;
}

/* Formulario */
.deposit-form {
    -fx-background-color: #343434;
    -fx-background-radius: 10;
}

.form-title {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.form-subtitle {
    -fx-text-fill: #c5c5c5;
    -fx-font-size: 13px;
}

.form-label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

/* Campo Valor */
.value-box {
    -fx-background-color: #000000;
    -fx-background-radius: 6;
}

.deposit-field {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #8d8d8d;
    -fx-font-size: 18px;
}

/* Botao */
.deposit-button {
    -fx-background-color: #5a0b18;
    -fx-background-radius: 6;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.deposit-button:hover {
    -fx-background-color: #6f1020;
}